<h1>Hi, I'm Paige</h1>
<h3> If you want to use me, you should log in with twitter</h3>
<% if current_user %>
  Welcome <%= current_user.handle %>!
  <img src="<%= current_user.email %>">
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
<% end %>
