<div class="container"> 
    <div class="row" style="margin-top: 5%">
      <center><img src="<%= asset_path 'paige_turner.png' %>" width=200></center>
    </div>
    <div class="row" style="margin-top: 8%">
      <center><h4>Hi, I'm Paige Turner!</h4></center>
      <center><p style="text-align: justify">And I'm your personal reading manager! I’m here to remind you to pick up that book you’ve been meaning to read. My goal is to encourage you to continue reading with tantalizing tweets about your characters. So sign up and get page turning!  </p></center>
    </div>  

    <% if current_user %>
      Welcome <%= current_user.handle %>!
      <img src="<%= current_user.image %>">
      <%= link_to "Sign Out", signout_path %>
    <% else %>
      <div class="row" style="margin-top: 4%">
        <center><a class="button button-primary" href="/auth/twitter">Log In with Twitter</a></center>
      </div> 
    <% end %> 
    </div>
