<h1>Add a tweet!</h1>
<%= form_for @tweet, url: {action: "create"}, html: {class: "tweet_creation_form"} do |f| %>
  <%= f.collection_select(:book_id, Book.all, :id, :title) %>
  <%= f.text_area :body, size: "60x12" %>
  <br />
  <%= f.submit "Add to queue" %>

<% end %>